h2{
    font-size: 30px;
    color: blue;
}
h2:hover{
    color: #98fc03
}

.job-box{
    
    border-bottom: 1px solid blue;
    padding-top: 10px;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.badge{
    margin: 3px;
}

.navbar{
    width: 100vw;
    margin-left: -15px;
    background-color: blue;
}

.job-content{
    color: blue;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.date-location-box{
    font-size: 13px;
    color: grey;
    margin-top: 1rem;
    
}

.follow{
    display: flex;
    justify-content: center;
    color: blue;
}

.follow:hover{
    color:#98fc03;
}

.alert{
    text-align: center;
    padding: 10px;
    /* height: 70px; */
}

/* .title-box{
    border-top:1px solid blue;
    text-align: left;
} */

.box-shadow{
    box-shadow: 0 0 0.938em rgba(0,0,255,0.3);
}
.job-title{
   word-break: break-word;
}