h2{
    font-size: 30px;
    color: blue;
}



/* li{
    list-style: none;
} */

.job-box{
    
    border: 1px solid blue;
    margin: 20px;
    padding: 20px;
}
.job-box:hover{
    border: 2px solid #98fc03;
   
}

.badge{
    margin: 3px;
}

.navbar{
    width: 100vw;
    margin-left: -15px;
    background-color: blue;
}