
.login-form{
  padding: 20px;  
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login:hover{
  color: #98fc03;
}


.search-box{
  margin: 7vh 15px;
  display: flex;
  justify-content: center;
  
}

.title-box{
  display: flex;
  justify-content: center;
  
}

.form-inline {
  width: 100%;
}


input.form-control{
  border-color: blue;
}

.title-box{
  color: blue;
}

.btn.btn-primary{
  color: #fff;
  background-color: blue;
  
}

.btn.btn-primary:hover{
  color: #fff;
  background-color: #98fc03;
  border: 1px solid #98fc03
  
}

.badge{
  margin: 3px;
}

h2{
  font-size: 30px;
  color: blue;
}
h2:hover{
  color: #98fc03
}

.job-box{
  
  border-bottom: 1px solid blue;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top: 10px;
  margin-bottom: 10px;

}


.navbar{
  width: 100vw;
  margin-left: -15px;
  background-color: blue;
}

.job-content{
  color: blue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.date-location-box{
  font-size: 13px;
  color: grey;
  margin-top: 1rem;
  
}

.follow{
  display: flex;
  justify-content: center;
  color: blue;
}

.follow:hover{
  color:#98fc03;
}

.alert{
  text-align: center;
  padding: 10px;
  /* height: 70px; */
}

/* .title-box{
  border-top:1px solid blue;
  text-align: left;
} */

.box-shadow{
  box-shadow: 0 0 0.938em rgba(0,0,255,0.3);
}
.job-title{
 word-break: break-word;
}

.job-detail-box{
  margin: 8vh 15px;
}
